<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769427175673-t5263u4gbgdf6gliuhidnpiv0psmirtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769427175673-t5263u4gbgdf6gliuhidnpiv0psmirtt</string>
	<key>API_KEY</key>
	<string>AIzaSyCrGctwRhPttIRLlpJ-uLWhJb7Acv71gt0</string>
	<key>GCM_SENDER_ID</key>
	<string>769427175673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parc</string>
	<key>PROJECT_ID</key>
	<string>parc-a991e</string>
	<key>STORAGE_BUCKET</key>
	<string>parc-a991e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769427175673:ios:943d5449a74c44a33e0a28</string>
	<key>DATABASE_URL</key>
	<string>https://parc-a991e-default-rtdb.firebaseio.com</string>
</dict>
</plist>